@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra';
  src: url("../fonts/ITCAvantGardeStd-XLt.eot");
  src: url("../fonts/ITCAvantGardeStd-XLt.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-XLt.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-XLt.woff") format("woff"), url("../fonts/ITCAvantGardeStd-XLt.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-XLt.svg#ITCAvantGardeStd-XLt") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url("../fonts/ITCAvantGardeStd-Bold.eot");
  src: url("../fonts/ITCAvantGardeStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Bold.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Bold.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Allura';
  src: url("../fonts/Allura-Regular.eot");
  src: url("../fonts/Allura-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Allura-Regular.woff2") format("woff2"), url("../fonts/Allura-Regular.woff") format("woff"), url("../fonts/Allura-Regular.ttf") format("truetype"), url("../fonts/Allura-Regular.svg#Allura-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url("../fonts/ITCAvantGardeStd-Md.eot");
  src: url("../fonts/ITCAvantGardeStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Md.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Md.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Md.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi';
  src: url("../fonts/ITCAvantGardeStd-Demi.eot");
  src: url("../fonts/ITCAvantGardeStd-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Demi.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Demi.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Demi.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Demi.svg#ITCAvantGardeStd-Demi") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book';
  src: url("../fonts/ITCAvantGardeStd-Bk.eot");
  src: url("../fonts/ITCAvantGardeStd-Bk.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Bk.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Bk.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Bk.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("../fonts/MinionPro-Regular.eot");
  src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.woff2") format("woff2"), url("../fonts/MinionPro-Regular.woff") format("woff"), url("../fonts/MinionPro-Regular.ttf") format("truetype"), url("../fonts/MinionPro-Regular.svg#MinionPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

body {
  overflow-x: hidden;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.float-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  z-index: 999;
  bottom: 40%;
}

.float-box a {
  width: 47px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: width 400ms, color 800ms;
  transition: width 400ms, color 800ms;
  height: 47px;
  line-height: 27px;
  display: block;
  margin-bottom: 1px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: 'Gill Sans Std';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

.float-box a:hover {
  width: 220px;
  color: white;
}

.float-box .chat {
  background: url(../images/icone-chat.png) no-repeat right 10px center;
  background-color: #474f73;
}

.float-box .phone {
  background: url(../images/icone-tel.png) no-repeat right 10px center;
  background-color: #474f73;
  font-size: 18px;
}

.float-box .mail {
  background: url(../images/icone-mail.png) no-repeat right 10px center;
  background-color: #474f73;
}

.float-box .whats {
  background: url(../images/icone-zap.png) no-repeat right 10px center;
  background-color: #474f73;
}

.aviso {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #474f73;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #ffffff;
  text-transform: uppercase;
}

.modalMapa .close,
.modalFichaTecnica .close,
.modalImplantacao .close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -26px;
  right: -19px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 100px;
  border: solid 1px #fff;
  padding: 2px 5px 2px;
}

.modalMapa .modal-dialog,
.modalFichaTecnica .modal-dialog,
.modalImplantacao .modal-dialog {
  width: 1200px;
  margin: 50px auto;
}

.modalMapa .modal-body,
.modalFichaTecnica .modal-body,
.modalImplantacao .modal-body {
  padding: 0px;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #474f73;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
}

.cookies .box p {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
}

.cookies .box p a {
  color: #fff;
}

.cookies .box .btn_cookie {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #474f73;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  margin-top: 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ffffff;
}

.modalFicha {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalFicha .modal-content {
  background-color: #fcd800;
  border: 0px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modalFicha .modal-body {
  padding: 8px;
}

.modalFicha .close {
  font-size: 27px;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 100;
}

.modalTourVirtual {
  background-color: rgba(0, 0, 0, 0.6);
}

.modalTourVirtual .modal-content {
  background-color: #ff6500;
  border: 0px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modalTourVirtual .modal-content p {
  font-family: 'Gill Sans Std';
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.modalTourVirtual .modal-body {
  padding: 35px 25px;
}

.modalTourVirtual .close {
  font-size: 27px;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 100;
}

/* Extra Small */
@media (max-width: 767px) {
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .modalMapa .close,
  .modalFichaTecnica .close,
  .modalImplantacao .close {
    top: -26px;
    right: 0px;
  }
  .modalMapa .modal-dialog,
  .modalFichaTecnica .modal-dialog,
  .modalImplantacao .modal-dialog {
    width: auto;
    margin: 30% auto 0;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
  .modalFicha .close,
  .modalTourVirtual .close {
    top: -26px;
    right: 10px;
  }
  .modalFicha .modal-dialog,
  .modalTourVirtual .modal-dialog {
    margin: 20% auto 0;
  }
}

.menu {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  border-color: transparent;
  min-height: auto;
  margin-bottom: 0px;
  border: 0px solid transparent;
  z-index: 200;
  border-radius: 0px;
}

.menu .navbar-brand {
  height: auto;
  padding: 8px 0 0 0;
}

.menu .navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

.menu .navbar-nav li > a {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #000000;
  text-transform: uppercase;
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  padding: 23px 7px 20px;
}

.menu .navbar-nav li > a:focus,
.menu .navbar-nav li > a:hover {
  color: #474f73;
}

.navbar-toggle {
  margin-top: 10px;
  margin-right: 15px;
}

.menu .navbar-toggle {
  border-color: #474f73;
}

.menu .navbar-toggle:focus,
.menu .navbar-toggle:hover {
  background-color: transparent;
}

/* Extra Small */
@media (max-width: 767px) {
  .menu .navbar-nav {
    margin: 10px -15px 7.5px;
  }
  .menu .navbar-nav li > a {
    padding: 15px 20px;
    color: #fff;
  }
  .menu .navbar-nav li > a:focus,
  .menu .navbar-nav li > a:hover {
    color: #ffffff;
  }
  .menu .navbar-collapse,
  .menu .navbar-form {
    border-color: transparent;
    background-color: #474f73;
  }
}

/* Small */
/* Medium */
/* Large */
.logo {
  background-color: #474f73;
  padding-top: 65px;
  padding-bottom: 10px;
}

.chamada {
  background: url(../images/dt_01.png) bottom left no-repeat #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.chamada .tt {
  font-family: 'Allura';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  line-height: 45px;
  color: #474f73;
}

.chamada hr {
  margin-top: 35px;
  margin-bottom: 35px;
}

.chamada .txt {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}

.terrenos {
  background-image: url(../images/dt_02.png), url(../images/dt_03.png);
  background-position: right 5%, left 90%;
  background-repeat: no-repeat, no-repeat;
  background-color: #474f73;
  padding-top: 50px;
  padding-bottom: 40px;
}

.terrenos .tt {
  font-family: 'Allura';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  margin-bottom: 20px;
}

.terrenos .txt_01 {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 35px;
  color: #ffffff;
}

.terrenos .txt_02 {
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  font-family: 'ITC Avant Garde Gothic Std Demi';
  font-weight: normal;
  font-style: normal;
}

.terrenos .txt_03 {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  font-family: 'ITC Avant Garde Gothic Std Demi';
  font-weight: normal;
  font-style: normal;
}

.terrenos .hr1 {
  width: 38%;
}

.terrenos .galeria {
  margin-top: 10px;
  margin-bottom: 30px;
}

.terrenos .txt_04 {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  font-family: 'ITC Avant Garde Gothic Std Demi';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.terrenos .txt_05 {
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.lazer {
  background-image: url(../images/dt_04.png), url(../images/dt_05.png);
  background-position: left 90%, right center;
  background-repeat: no-repeat, no-repeat;
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 40px;
}

.lazer .tt {
  font-family: 'Allura';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  line-height: 45px;
  color: #474f73;
  margin-bottom: 20px;
}

.lazer .txt_01 {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #474f73;
  display: inline;
  padding: 8px 18px;
}

.lazer .list {
  margin-top: 30px;
}

.lazer .list p {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.lazer .list p span {
  color: #474f73;
}

.lazer .galeria {
  margin-top: 10px;
  margin-bottom: 35px;
}

.faixa-natureza {
  background-image: url(../images/dt_07.png), url(../images/dt_06.png);
  background-position: left center, 95% bottom;
  background-repeat: no-repeat, no-repeat;
  background-color: #474f73;
  padding-top: 40px;
  padding-bottom: 40px;
}

.faixa-natureza .tt {
  font-family: 'Allura';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.natureza {
  background-image: url(../images/dt_08.png), url(../images/dt_09.png);
  background-position: left center, right 90%;
  background-repeat: no-repeat, no-repeat;
  background-color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px;
}

.faixa-projeto {
  background-image: url(../images/dt_10.png);
  background-position: left center;
  background-repeat: no-repeat, no-repeat;
  background-color: #474f73;
  padding-top: 60px;
  padding-bottom: 60px;
}

.faixa-projeto .tt {
  font-family: 'Allura';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.projeto {
  background-image: url(../images/dt_11.png), url(../images/dt_12.png);
  background-position: left center, right 90%;
  background-repeat: no-repeat, no-repeat;
  background-color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px;
}

.mapa {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 0;
  background-color: #474f73;
}

.localizacao {
  background-image: url(../images/dt_15.png);
  background-position: 90% bottom;
  background-repeat: no-repeat, no-repeat;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
}

.localizacao p {
  font-family: 'Allura';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 40px;
}

.localizacao h4 {
  font-family: 'ITC Avant Garde Gothic Std';
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #474f73;
  letter-spacing: 2px;
  margin-top: 40px;
}

/* Extra Small */
@media (max-width: 767px) {
  .logo {
    background-color: #474f73;
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .chamada {
    background: url(../images/dt_01.png) bottom left no-repeat #ffffff;
    background-size: 30%;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .chamada .tt {
    font-size: 35px;
    line-height: 35px;
  }
  .chamada hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .chamada .txt {
    font-size: 14px;
    line-height: 24px;
  }
  .terrenos {
    background-size: 28%;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .terrenos .tt {
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 0px;
  }
  .terrenos .hr1 {
    width: 88%;
  }
  .terrenos .txt_01 {
    font-size: 20px;
    line-height: 33px;
  }
  .lazer {
    background-image: url(../images/dt_04.png), url(../images/dt_05.png);
    background-size: 20%;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .lazer .tt {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0px;
  }
  .lazer .txt_01 {
    font-size: 13px;
    line-height: 20px;
    display: block;
    padding: 12px 18px 8px;
  }
  .lazer .list {
    margin-top: 20px;
  }
  .lazer .galeria {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .faixa-natureza {
    background-image: url(../images/dt_07.png), url(../images/dt_06.png);
    background-position: left center, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 20%;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .faixa-natureza .tt {
    font-size: 30px;
    line-height: 35px;
  }
  .natureza {
    background-image: url(../images/dt_08.png), url(../images/dt_09.png);
    background-position: left top, right bottom;
    background-size: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .faixa-projeto {
    background-image: url(../images/dt_10.png);
    background-position: left 5%;
    background-repeat: no-repeat, no-repeat;
    background-color: #474f73;
    background-size: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .faixa-projeto .tt {
    font-size: 25px;
    line-height: 30px;
  }
  .projeto {
    background-image: url(../images/dt_11.png), url(../images/dt_12.png);
    background-position: left top, right bottom;
    background-size: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .localizacao {
    background-image: url(../images/dt_15.png);
    background-position: 90% bottom;
    background-size: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .localizacao p {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .localizacao h4 {
    font-size: 20px;
    line-height: 30px;
  }
}

/* Small */
/* Medium */
/* Large */
.contato {
  background-image: url(../images/dt_13.png), url(../images/dt_14.png);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-color: #474f73;
  padding-top: 50px;
  padding-bottom: 100px;
}

.contato .tt {
  font-family: 'Allura';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 45px;
  color: #ffffff;
  margin-bottom: 40px;
  margin-top: 40px;
}

.contato .txt_01 {
  font-family: 'ITC Avant Garde Gothic Std';
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.contato .txt_01 span {
  font-family: 'ITC Avant Garde Gothic Std Demi';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
}

.contato .media {
  display: block;
  margin: 0 auto;
  width: 290px;
}

.contato .hr1 {
  width: 45%;
  margin-top: 40px;
}

.contato .boxValor {
  border: solid 1px #ffffff;
  padding: 15px 0;
}

.contato .boxValor .terreno500 p {
  font-family: 'ITC Avant Garde Gothic Std Demi';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 15px;
}

.contato .boxValor .valor500 {
  display: table;
  margin: 0 auto;
}

.contato .boxValor .valor500 .mil200,
.contato .boxValor .valor500 .finan {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.contato .boxValor .valor500 .mil200 {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: right;
  padding-right: 20px;
  border-right: solid 1px #ffffff;
}

.contato .boxValor .valor500 .mil200 span {
  font-size: 55px;
  line-height: 55px;
}

.contato .boxValor .valor500 .finan {
  font-size: 25px;
  line-height: 35px;
  text-align: left;
  padding-left: 20px;
}

.contato .form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 2px 12px 6px;
  font-size: 11px;
  line-height: 11px;
  color: #000;
  border: 0px solid transparent;
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.contato .form-control::-webkit-input-placeholder {
  color: #000;
}

.contato .form-control:-ms-input-placeholder {
  color: #000;
}

.contato .form-control::-ms-input-placeholder {
  color: #000;
}

.contato .form-control::placeholder {
  color: #000;
}

.contato textarea {
  padding: 18px 12px !important;
  height: 150px !important;
}

.contato .btn_enviar {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  padding: 15px 25px 13px;
  font-size: 17px;
  line-height: 17px;
  border: 0px solid transparent;
  border-radius: 10px;
  background-color: #8996b9;
  color: #ffffff;
  text-transform: uppercase;
  float: right;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato {
    background-size: 30%;
    padding-bottom: 70px;
  }
  .contato .tt {
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .contato .hr1 {
    width: 80%;
  }
  .contato .boxValor {
    border: solid 1px #ffffff;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .contato .boxValor .terreno500 p {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .contato .boxValor .valor500 .mil200 {
    font-size: 20px;
    line-height: 20px;
    padding-right: 10px;
  }
  .contato .boxValor .valor500 .mil200 span {
    font-size: 35px;
    line-height: 35px;
  }
  .contato .boxValor .valor500 .finan {
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
  }
}

/* Small */
/* Medium */
/* Large */
footer {
  position: relative;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer figcaption {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 10px;
  color: #000;
  text-transform: uppercase;
}

footer .texto-legal {
  margin-top: 20px;
}

footer .texto-legal p {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
}

footer .texto-legal p a {
  color: #000000;
}

footer .texto-legal .navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

footer .texto-legal .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .texto-legal .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-right: 1px solid #000;
}

footer .texto-legal .navbar-nav li > a:focus,
footer .texto-legal .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .texto-legal .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

/* Extra Small */
@media (max-width: 767px) {
  footer {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer figure .coelho-da-fonseca {
    max-width: 40%;
  }
  footer figure .nr {
    max-width: 25%;
  }
  footer .texto-legal .navbar-nav {
    width: 100%;
  }
  footer .texto-legal .navbar-nav li > a {
    padding: 0;
    border-right: 0px solid transparent;
  }
}

/* Small */
/* Medium */
/* Large */
.politica {
  padding-bottom: 30px;
  padding-top: 60px;
}

.politica .politica-tt {
  padding-top: 30px;
  padding-bottom: 0px;
}

.politica .politica-tt h3 {
  font-family: 'ITC Avant Garde Gothic Std';
  font-weight: bold;
  font-style: normal;
  color: #474f73;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

.politica .politica-tt p {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  color: #000;
  font-size: 15px;
  line-height: 20px;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-weight: normal;
  font-style: normal;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
@media (max-width: 767px) {
  .politica {
    padding-top: 60px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */