@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-Book.eot");
  src: url("../fonts/FuturaStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Book.woff2") format("woff2"), url("../fonts/FuturaStd-Book.woff") format("woff"), url("../fonts/FuturaStd-Book.ttf") format("truetype"), url("../fonts/FuturaStd-Book.svg#FuturaStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url("../fonts/GillSansMT.eot");
  src: url("../fonts/GillSansMT.eot?#iefix") format("embedded-opentype"), url("../fonts/GillSansMT.woff2") format("woff2"), url("../fonts/GillSansMT.woff") format("woff"), url("../fonts/GillSansMT.ttf") format("truetype"), url("../fonts/GillSansMT.svg#GillSansMT") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-Bold.eot");
  src: url("../fonts/FuturaStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Bold.woff2") format("woff2"), url("../fonts/FuturaStd-Bold.woff") format("woff"), url("../fonts/FuturaStd-Bold.ttf") format("truetype"), url("../fonts/FuturaStd-Bold.svg#FuturaStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans Std';
  src: url("../fonts/GillSansStd-Bold.eot");
  src: url("../fonts/GillSansStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GillSansStd-Bold.woff2") format("woff2"), url("../fonts/GillSansStd-Bold.woff") format("woff"), url("../fonts/GillSansStd-Bold.ttf") format("truetype"), url("../fonts/GillSansStd-Bold.svg#GillSansStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans Std';
  src: url("../fonts/GillSansStd.eot");
  src: url("../fonts/GillSansStd.eot?#iefix") format("embedded-opentype"), url("../fonts/GillSansStd.woff2") format("woff2"), url("../fonts/GillSansStd.woff") format("woff"), url("../fonts/GillSansStd.ttf") format("truetype"), url("../fonts/GillSansStd.svg#GillSansStd") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url("../fonts/GillSansMT-Bold.eot");
  src: url("../fonts/GillSansMT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GillSansMT-Bold.woff2") format("woff2"), url("../fonts/GillSansMT-Bold.woff") format("woff"), url("../fonts/GillSansMT-Bold.ttf") format("truetype"), url("../fonts/GillSansMT-Bold.svg#GillSansMT-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Md.eot");
  src: url("../fonts/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Md.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book';
  src: url("../fonts/ITCAvantGardeStd-Bk.eot");
  src: url("../fonts/ITCAvantGardeStd-Bk.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Bk.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Bk.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Bk.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url("../fonts/ITCAvantGardeStd-Bold.eot");
  src: url("../fonts/ITCAvantGardeStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Bold.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Bold.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url("../fonts/ITCAvantGardeStd-Md.eot");
  src: url("../fonts/ITCAvantGardeStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Md.woff2") format("woff2"), url("../fonts/ITCAvantGardeStd-Md.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Md.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

body {
  overflow-x: hidden;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.float-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  z-index: 999;
  bottom: 40%;
}

.float-box a {
  width: 47px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: width 400ms, color 800ms;
  transition: width 400ms, color 800ms;
  height: 47px;
  line-height: 27px;
  display: block;
  margin-bottom: 1px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: 'Gill Sans Std';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

.float-box a:hover {
  width: 220px;
  color: white;
}

.float-box .chat {
  background: url(../images/icone-chat.png) no-repeat right 10px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #cd1418;
}

.float-box .phone {
  background: url(../images/icone-tel.png) no-repeat right 10px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #cd1418;
  font-size: 18px;
}

.float-box .mail {
  background: url(../images/icone-mail.png) no-repeat right 10px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #cd1418;
}

.float-box .whats {
  background: url(../images/icone-zap.png) no-repeat right 10px center;
  background-color: rgba(0, 0, 0, 0);
  background-color: #cd1418;
}

.aviso {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #eb640a;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Gill Sans Std';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #ffffff;
  text-transform: uppercase;
}

.modalMapa .close,
.modalFichaTecnica .close,
.modalImplantacao .close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -26px;
  right: -19px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 100px;
  border: solid 1px #fff;
  padding: 2px 5px 2px;
}

.modalMapa .modal-dialog,
.modalFichaTecnica .modal-dialog,
.modalImplantacao .modal-dialog {
  width: 1200px;
  margin: 50px auto;
}

.modalMapa .modal-body,
.modalFichaTecnica .modal-body,
.modalImplantacao .modal-body {
  padding: 0px;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #eb640a;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
}

.cookies .box p {
  font-family: 'Gill Sans Std';
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
}

.cookies .box p a {
  color: #fff;
}

.cookies .box .btn_cookie {
  font-family: 'Gill Sans Std';
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  margin-top: 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #af1b1e;
}

.modalFicha {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalFicha .modal-content {
  background-color: #fcd800;
  border: 0px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modalFicha .modal-body {
  padding: 8px;
}

.modalFicha .close {
  font-size: 27px;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 100;
}

.modalTourVirtual {
  background-color: rgba(0, 0, 0, 0.6);
}

.modalTourVirtual .modal-content {
  background-color: #ff6500;
  border: 0px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modalTourVirtual .modal-content p {
  font-family: 'Gill Sans Std';
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.modalTourVirtual .modal-body {
  padding: 35px 25px;
}

.modalTourVirtual .close {
  font-size: 27px;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 100;
}

/* Extra Small */
@media (max-width: 767px) {
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .modalMapa .close,
  .modalFichaTecnica .close,
  .modalImplantacao .close {
    top: -26px;
    right: 0px;
  }
  .modalMapa .modal-dialog,
  .modalFichaTecnica .modal-dialog,
  .modalImplantacao .modal-dialog {
    width: auto;
    margin: 30% auto 0;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
  .modalFicha .close,
  .modalTourVirtual .close {
    top: -26px;
    right: 10px;
  }
  .modalFicha .modal-dialog,
  .modalTourVirtual .modal-dialog {
    margin: 20% auto 0;
  }
}

.menu {
  width: 100%;
  position: fixed;
  background-color: #fff;
  border-color: transparent;
  min-height: auto;
  margin-bottom: 0px;
  border: 0px solid transparent;
  z-index: 200;
  border-radius: 0px;
}

.menu .navbar-brand {
  height: auto;
  padding: 8px 0 0 0;
}

.menu .navbar-right {
  background-color: #a4ced4;
  padding: 15px 30px;
}

.menu .navbar-right li > a {
  color: #000;
  text-transform: uppercase;
  font-family: 'ITC Avant Garde Gothic Std';
  font-weight: 500;
  font-style: normal;
  border-right: solid 1px #cf641c;
}

.menu .navbar-right li:last-child a {
  border-right: solid 0px transparent;
}

.navbar-toggle {
  margin-top: 15px;
  margin-right: 15px;
}

.menu .navbar-toggle {
  border-color: #a4ced4;
}

.menu .navbar-toggle:focus,
.menu .navbar-toggle:hover {
  background-color: transparent;
}

/* Extra Small */
@media (max-width: 767px) {
  .menu .navbar-brand {
    height: auto;
    padding: 7px 0 7px 0;
  }
  .menu .navbar-brand img {
    width: 80%;
  }
  .menu .navbar-right {
    padding: 0px 15px;
  }
  .menu .navbar-nav {
    margin: 0 -15px 7.5px;
  }
  .menu .navbar-collapse,
  .menu .navbar-form {
    border-color: transparent;
  }
  .menu .navbar-right li > a {
    border-right: solid 0px transparent;
    border-bottom: solid 1px #cf641c;
  }
  .menu .navbar-right li:last-child a {
    border-bottom: solid 0px transparent;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .menu .navbar-header {
    width: 150px;
  }
  .menu .container .navbar-brand {
    margin-left: 0px;
  }
  .menu .navbar-brand {
    height: auto;
    padding: 14px 0 0 0;
  }
  .menu .navbar-brand img {
    width: 100%;
  }
  .menu .navbar-right {
    padding: 10px 0px;
  }
  .menu .navbar-right li > a {
    font-size: 11px;
    padding: 15px 9px;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu .navbar-brand {
    height: auto;
    padding: 7px 0 0 0;
  }
  .menu .navbar-brand img {
    width: 80%;
  }
  .menu .navbar-right {
    padding: 10px 10px;
  }
  .menu .navbar-right li > a {
    font-size: 12px;
  }
}

/* Large */
/* Extra Small */
/* Small */
/* Medium */
/* Large */
.contato {
  padding-top: 20px;
}

.contato h5 {
  font-family: 'Gill Sans Std';
  font-weight: bold;
  font-style: normal;
  color: #af1b1e;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 35px;
  margin: 0 0 10px 0;
}

.contato .form-control {
  display: block;
  width: 100%;
  height: 60px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  border: 1px solid #000;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Gill Sans Std';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.contato .form-control::-webkit-input-placeholder {
  color: #000;
}

.contato .form-control:-ms-input-placeholder {
  color: #000;
}

.contato .form-control::-ms-input-placeholder {
  color: #000;
}

.contato .form-control::placeholder {
  color: #000;
}

.contato .form-group {
  margin-bottom: 25px;
}

.contato textarea {
  height: 229px !important;
}

.contato .dt {
  background-color: #eb640a;
  height: 40px;
}

.contato .dt1 {
  padding-right: 0px;
}

.contato .btn_enviar {
  font-family: 'Gill Sans Std';
  font-weight: bold;
  font-style: normal;
  padding: 6px 12px;
  font-size: 17px;
  line-height: 17px;
  width: 100%;
  height: 40px;
  border: 0px solid transparent;
  border-radius: 0px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato .dt1 {
    padding: 0px;
  }
  .contato h5 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 10px 0;
  }
  .contato p {
    font-size: 14px;
    line-height: 14px;
  }
}

/* Small */
/* Medium */
/* Large */
footer {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer figcaption {
  font-family: 'Futura Std';
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
}

footer p {
  font-family: 'Futura Std';
  font-weight: normal;
  font-style: normal;
  color: #000;
}

footer figcaption {
  font-size: 13px;
  line-height: 13px;
}

footer p {
  font-size: 11px;
  line-height: 15px;
}

footer .caixa {
  margin-top: 40px;
}

footer .vemplan {
  margin-top: 40px;
}

footer .riacho {
  margin-top: 20px;
}

footer .faleiros {
  margin-top: 30px;
}

footer .navbar-nav {
  margin-top: 20px;
}

footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Futura Std';
  font-weight: 300;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  border-right: 1px solid #000;
}

footer .navbar-nav li > a:focus,
footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

/* Extra Small */
@media (max-width: 767px) {
  footer {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  footer p {
    font-size: 11px;
    line-height: 15px;
  }
  footer .caixa {
    margin-top: 20px;
  }
  footer .vemplan {
    margin-top: 20px;
  }
  footer .riacho {
    margin-top: 20px;
  }
  footer .faleiros {
    margin-top: 20px;
  }
  footer .space {
    margin-bottom: 30px;
  }
}

/* Small */
/* Medium */
/* Large */
.politica {
  padding-bottom: 30px;
  padding-top: 100px;
}

.politica .politica-tt {
  padding-top: 30px;
  padding-bottom: 0px;
}

.politica .politica-tt h3 {
  font-family: 'Gill Sans Std';
  font-weight: bold;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'Gill Sans Std';
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
@media (max-width: 767px) {
  .politica {
    padding-top: 60px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */